h1{
    color: #000000;
}   
h2{
    text-align: center;
    color: #000000;
}
p{
    color: #000000;
    text-align: center;
    font-size: large;
}
/* *{
    border: solid;
} */
 .header{
    background-color:#47fa83;
    display: flex;
    justify-content: space-between;
 }
 .footer{
     background-color:#e26c6c;
     display: flex;
     justify-content: flex-end;
 }
.grid{
    display: flex;
    background-color: #7de7e2;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.item p{
    text-align: left;
}
body{
    background-color: #1f3cbd;
}